body{
    background-color: black;
    color: white;
    font-family: "MS Gothic";
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    user-select: none;
    overflow: hidden;
    touch-action: manipulation;
}
.sub1{
    display: flex;
    flex-direction: column;
}
.sub2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sub3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.sub4{
    display: flex;
    flex-direction: column;
}
.button{
    display: flex;
    flex-direction: row;
}
.arrow{
    display: flex;
    position: relative;
}